@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.create-task-block__input:hover, .btn-done:hover, .btn-done, .btn-delete:hover, .btn-delete {
  transition: all 0.5s ease;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Roboto";
  font-size: 1rem;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #0078d7;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.greeting__text {
  font-size: 1.375rem;
}

.header__time {
  display: flex;
  flex-direction: column;
  font-size: 1.375rem;
  color: #ffffff;
}

.header__time-time {
  text-align: end;
}

.header__setting {
  position: absolute;
  top: 20px;
  right: 10px;
}

.setting__img {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 576px) {
  .header__time {
    font-size: 1rem;
  }
  .setting__img {
    width: 18px;
    height: 18px;
  }
  .header__setting {
    position: absolute;
    top: 20px;
    right: 0px;
  }
  .greeting__text {
    font-size: 1rem;
  }
}
.footer {
  background: #0078d7;
}

.social-list {
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-list-item {
  display: flex;
  align-items: center;
}
.social-list-item a {
  color: #ffffff;
  font-size: 1.375rem;
}
.social-list-item:hover {
  text-decoration: underline;
}

.item__img img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .social-list {
    flex-wrap: wrap;
  }
  .social-list-item a {
    font-size: 1rem;
  }
  .item__img img {
    width: 25px;
    height: 25px;
  }
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  width: min(100% - 20px, 1260px);
  margin-inline: auto;
}

@media screen and (max-width: 576px) {
  .container {
    width: min(100% - 10px, 576px);
  }
}
.button {
  padding: 10px 25px;
  background: #0078d7;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1rem;
  user-select: none;
}

.create-task-block__button {
  border: none;
  position: relative;
}

.btn-action {
  background: inherit;
  padding: 5px;
}

.btn-delete {
  margin-right: 5px;
  rotate: 45deg;
}
.btn-delete:hover {
  rotate: 0deg;
}

.btn-done {
  rotate: 20deg;
}
.btn-done:hover {
  rotate: 0deg;
}

.btn-action img {
  pointer-events: none;
  width: 25px;
  height: 25px;
}

.btn-theme {
  background: transparent;
  font-size: 1.3rem;
  color: #ffffff;
  margin-right: 15px;
}
.btn-theme:last-child {
  margin-right: 0;
}

.btn-theme.active {
  border-bottom: 2px solid #ffffff;
}

.setting__btn {
  background: transparent;
}

@media screen and (max-width: 576px) {
  .btn-action img {
    width: 20px;
    height: 20px;
  }
  .button {
    padding: 10px 10px;
  }
  .task__buttons {
    display: flex;
    flex-wrap: nowrap;
  }
  .btn-done,
  .btn-delete {
    padding: 0;
    margin-right: 10px;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.logo__element img {
  width: 35px;
  height: 35px;
}

.logo__text {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .logo__text {
    display: none;
  }
  .logo__element img {
    width: 25px;
    height: 25px;
  }
}
.greeting__name {
  background: inherit;
  font-size: 1.375rem;
  max-width: 150px;
  color: #ffffff;
  caret-color: #ffffff;
}
.greeting__name::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

.greeting__text {
  color: #ffffff;
}

.create-task-block__input {
  border-radius: 5px;
  font-size: 1.375rem;
  width: 60%;
  background: rgba(244, 246, 255, 0.8);
  padding: 5px 15px;
  margin-right: 20px;
}
.create-task-block__input:hover {
  background: #ffffff;
  cursor: pointer;
  box-shadow: 2px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

@media screen and (max-width: 576px) {
  .greeting__name {
    font-size: 1rem;
  }
  .create-task-block__input {
    font-size: 1rem;
    width: 100%;
  }
  .header__greeting {
    max-width: 100px;
  }
}
.setting {
  position: fixed;
  top: 57px;
  right: 0;
  background-color: transparent;
  z-index: 10;
  transform: translateX(50%) scale(0);
  transition: all 0.4s ease-in-out;
}

.setting.open {
  transform: translateX(0%) scale(100%);
}

.setting__container {
  display: flex;
  width: 100%;
  height: 100%;
}

.setting__body {
  background: #0078d7;
  width: 40vmin;
  height: 100vh;
  position: relative;
  top: 0;
  right: 0;
  transition: all 0.8s ease 0s;
  padding: 30px 0 40px 10px;
}

.setting__items {
  display: flex;
}

.setting__item {
  display: flex;
  align-items: center;
}

.item__text {
  color: #f0f8ff;
  font-size: 1.5rem;
  margin-right: 20px;
}

@media screen and (max-width: 576px) {
  .setting {
    top: 50px;
  }
}
.create-task-block {
  display: flex;
  justify-content: center;
  margin: 70px 0 50px 0;
}

.tasks__list {
  border-radius: 10px;
}

.task__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #f0f8ff;
  padding: 3px 0 3px 10px;
  border-radius: 10px;
}

.task__title {
  font-size: 1.2rem;
  font-weight: 400;
}

.tasks__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 23%;
}

.empty__img {
  margin-bottom: 20px;
  width: 125px;
  height: 125px;
}

.empty__text {
  font-size: 2.5rem;
  font-weight: 300;
  opacity: 0.7;
}

.tasks__title_done {
  text-decoration: line-through;
  opacity: 0.6;
}

.none {
  display: none !important;
}

.tasks__container {
  max-width: 71%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .tasks__container {
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .task__title {
    font-size: 1.2rem;
    padding: 7px 0;
  }
}
.main {
  flex: 1 1 auto;
}

.main__container {
  padding: 30px 20px 0 20px;
  min-height: 100vh;
}

@media screen and (max-width: 576px) {
  .main__container {
    padding: 30px 0 0 0;
  }
}
.wrapper.black {
  background: #11100f;
}

.header.black {
  background: #252423;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.footer.black {
  background: #252423;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.greeting__name.black {
  background: #252423;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.create-task-block__input.black {
  background: #252423;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.task__item.black {
  background: #252423;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.task__title.black {
  color: #ffffff;
}

.create-task-block__button.black {
  background: #252423;
}

/*# sourceMappingURL=style.css.map */
