.header {
  position: fixed;
  width: 100%;
  background-color: $color-header;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.greeting__text {
  font-size: $font-size;
}

.header__time {
  display: flex;
  flex-direction: column;
  font-size: $font-size;
  color: $color-main;
}

.header__time-time {
  text-align: end;
}

.header__setting {
  position: absolute;
  top: 20px;
  right: 10px;
}

.setting__img {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 576px) {
  .header__time {
    font-size: $font-size-mobile;
  }

  .setting__img {
    width: 18px;
    height: 18px;
  }

  .header__setting {
    position: absolute;
    top: 20px;
    right: 0px;
  }

  .greeting__text {
    font-size: $font-size-mobile;
  }
}
