.main {
  flex: 1 1 auto;
}

.main__container {
  padding: 30px 20px 0 20px;
  min-height: 100vh;
}

.create-task-block {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.tasks__list {
  padding: 0 0 0 10px;
  border-radius: 10px;
}

.task__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: $color-task-item;
  padding: 3px 0 3px 10px;
  border-radius: 10px;
}

.task__title {
  font-size: 1.2rem;
  font-weight: 400;
}

.tasks__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 23%;
}

.empty__img {
  margin-bottom: 20px;
  width: 125px;
  height: 125px;
}

.empty__text {
  font-size: 2.5rem;
  font-weight: 300;
  opacity: 0.7;
}

.tasks__title_done {
  text-decoration: line-through;
  opacity: 0.6;
}

.none {
  display: none !important;
}

.tasks__container {
  max-width: 71%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .tasks__container {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .task__title {
    font-size: $font-size-mobile;
  }
}
