.button {
  padding: 10px 25px;
  background: $color-button;
  border-radius: 5px;
  color: $color-main;
  font-size: 1rem;
  user-select: none;
}

.create-task-block__button {
  border: none;
  position: relative;
}

.btn-action {
  background: inherit;
  padding: 5px;
}

.btn-delete {
  margin-right: 5px;
  rotate: (45deg);
  @extend %transition;

  &:hover {
    rotate: (0deg);
    @extend %transition;
  }
}

.btn-done {
  rotate: (20deg);
  @extend %transition;

  &:hover {
    rotate: (0deg);
    @extend %transition;
  }
}

.btn-action img {
  pointer-events: none;
  width: 25px;
  height: 25px;
}

.theme-btn {
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 5px #aac5c6;
  border: 0.2vw solid rgba(2, 228, 231, 0.8);
  background-color: #344056;
  transition: 0.2s all linear;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:checked {
    border: 5px solid #344056;
    background-color: rgba(2, 228, 231, 0.8);
  }
}

.setting__btn {
  background: transparent;
}
@media screen and (max-width: 576px) {
  .btn-action img {
    width: 20px;
    height: 20px;
  }
  .button {
    padding: 10px 10px;
  }
  .task__buttons {
    display: flex;
    flex-wrap: nowrap;
  }
  .btn-done,
  .btn-delete {
    padding: 0;
    margin-right: 10px;
  }
}
