.button {
  padding: 10px 25px;
  background: $color-button;
  border-radius: 5px;
  color: $color-main;
  font-size: 1rem;
  user-select: none;
}

.create-task-block__button {
  border: none;
  position: relative;
}

.btn-action {
  background: inherit;
  padding: 5px;
}

.btn-delete {
  margin-right: 5px;
  rotate: (45deg);
  @extend %transition;

  &:hover {
    rotate: (0deg);
    @extend %transition;
  }
}

.btn-done {
  rotate: (20deg);
  @extend %transition;

  &:hover {
    rotate: (0deg);
    @extend %transition;
  }
}

.btn-action img {
  pointer-events: none;
  width: 25px;
  height: 25px;
}

.btn-theme {
  background: transparent;
  font-size: 1.3rem;
  color: $color-main;
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
}

.btn-theme.active {
  border-bottom: 2px solid $color-main;
}
.setting__btn {
  background: transparent;
}
@media screen and (max-width: 576px) {
  .btn-action img {
    width: 20px;
    height: 20px;
  }
  .button {
    padding: 10px 10px;
  }
  .task__buttons {
    display: flex;
    flex-wrap: nowrap;
  }
  .btn-done,
  .btn-delete {
    padding: 0;
    margin-right: 10px;
  }
}
