.button {
  padding: 10px 25px;
  background: $color-button;
  border-radius: 5px;
  color: $color-main;
  font-size: 1rem;
  user-select: none;
}

.create-task-block__button {
  position: relative;
  transition: width 0.5s;
  transition: border-radius 0.5s;
  padding: 0 35px;
}

.create-task-block__button * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s;
}

.create-task-block__button:hover .create-task-block__button_span {
  opacity: 0;
}

.create-task-block__button:hover .create-task-block__button_img {
  opacity: 1;
  transition-delay: 0.2s;
}

.create-task-block__button_img {
  width: 20px;
  height: 20px;
  opacity: 0;
}

.btn-action {
  background: inherit;
  padding: 5px;
}

.btn-delete {
  margin-right: 5px;
  rotate: (45deg);
  @extend %transition;

  &:hover {
    rotate: (0deg);
    @extend %transition;
  }
}

.btn-done {
  rotate: (20deg);
  @extend %transition;

  &:hover {
    rotate: (0deg);
    @extend %transition;
  }
}

.btn-action img {
  pointer-events: none;
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 576px) {
  .btn-action img {
    width: 15px;
    height: 15px;
  }
  .button {
    padding: 10px 10px;
  }
  .task__buttons {
    display: flex;
    flex-wrap: nowrap;
  }
  .btn-done,
  .btn-delete {
    padding: 0;
    margin-right: 10px;
  }
}
